@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
}

header section{
    display: flex;
    align-items: center;
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    height: 20px;
    padding-left: 90px;
    padding-right: 52px;
}

header ul{
    list-style: none;
}

header section p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

header section img{
    width:  10px;
    height: 10px;
    cursor: pointer;
    margin-left: 3px ;
}

.section-list-language{
    margin-left: 882px;
}

.section-list-currency{
    margin-left: 12px;
}

nav{
    display: flex;
    background-color: #F0A83E;
    align-items: center;
    padding-left: 40px;
    height: 62px;
    padding-right: 40px;
}

nav img{
    margin-right: 818px;
}

nav ul{
    display: flex;
}

nav ul a{
    font-family: 'Roboto';
    font-size: 13px;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.banner{
    position: relative;
    height: 700px;
}

.banner-text{
    text-align: center;
    display: inline-block;
    outline: 1px solid red;
    margin-right: 12px;
}

.banner img{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.banner h2{
    border-radius: 5px;
    padding: 10px ;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.banner-text h2,
.banner-text p,
.banner-btn{
    margin-top: 12px;
}