@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rokkitt&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header section{
    display: flex;
    align-items: baseline;
    background-color: #222222;
    color: #F3F3F3;
    height: 20px;
    padding-left: 90px;
    padding-right: 52px;
}

header section p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

header section img{
    width:  10px;
    height: 10px;
    cursor: pointer;
}

header ul{
    list-style: none;
}

.header__section-list-language{
    margin-left: 882px;
}

.header__first-section-list-currency{
    margin-left: 12px;
}

nav{
    display: flex;
    background-color: #F0A83E;
    align-items: center;
    padding-left: 40px;
    height: 62px;
    padding-right: 40px;
}

nav img{
    margin-right: 818px;
}

nav ul{
    display: flex;
}

nav ul a{
    font-family: 'Roboto';
    font-size: 13px;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}